{
  "parser": "@typescript-eslint/parser",
  "extends": ["standard", "standard-react", "prettier", "prettier/react"],
  "plugins": ["babel", "react", "promise", "prettier", "react-hooks", "@typescript-eslint"],
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__CONFIG__": false
  },
  "rules": {
    "react/prop-types": 0,
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "curly": ["error", "all"],
    "quotes": [2, "single", "avoid-escape"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"]
  }
}
